@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

@import 'variables';

* {
  margin: 0 auto;
  font-family: inherit;
  font-size: inherit;
}

html, body {
  width: 100%;
}

html {
  height: 100vh;
  overflow-x: hidden;
  font-family: $font;
  font-size: 16px;
  background-color: $color-background;
}

body {
  min-height: 100%;
}
